<h1>Welcome to Employee Thing</h1>
<ul>
    <li><a href="/managers">Show Managers</a></li>
    <li><a href="/employees">Show All Employees</a></li>
    <li><a href="/departments">Show Departments</a></li>
</ul>